name: ${{ values.app_name }}-cicd

on:
  push:
    paths:
      - src/**
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Shorten commit id
        run: echo "COMMITID=${GITHUB_SHA::6}" >> $GITHUB_ENV
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{'${{ secrets.DOCKERHUB_USERNAME }}'}}
          password: ${{'${{ secrets.DOCKERHUB_TOKEN }}'}}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: docker.io/mehabadi/test:${{ values.app_name }}-${{ '${{ env.COMMITID }}' }}
    outputs: 
      commit_id: ${{ '${{ env.COMMITID }}' }}
  cd:
    needs: ci
    runs-on: self-hosted
    steps:
      - name: Install yq
        run: |
          sudo curl -sSL -o /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_arm64
          sudo chmod +x /usr/local/bin/yq
      
      - name: Clone the repo
        uses: actions/checkout@v3
        
      - name: Modify values file
        run: |
          yq -i '.image.tag = "${{ values.app_name }}-${{ '${{needs.ci.outputs.commit_id}}' }}"' charts/${{ values.app_name }}/values-${{ values.app_env }}.yaml
      - name: Commit values changes
        uses: EndBug/add-and-commit@v9
        with: 
          message: "Updates values-${{ values.app_env }}.yaml with commit ${{ '${{needs.ci.outputs.commit_id}}' }}"
          pull: '--rebase --autostash'
      
      - name: Install Argo CLI
        run: |
          curl -sSL -o argocd-linux-amd64 https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          sudo install -m 555 argocd-linux-amd64 /usr/local/bin/argocd
          rm argocd-linux-amd64

      - name: ArgoCD login
        run: | 
          argocd login argocd-server.argocd \
          --insecure \
          --username admin \
          --password ${{ '${{ secrets.ARGOCD_PASSWORD }}' }}

      - name: Ensure argocd repo and app are added
        run: |
          # Connect the argocd repo
          repo_url="https://github.com/mohsen-cicd-org-test/${{ values.app_name }}.git"
          argocd repo list | grep -q "$repo_url" || argocd repo add $repo_url

          # Add the argocd app
          argocd app list | grep -q "${{ values.app_name }}" || 
          argocd app create ${{ values.app_name }} \
          --repo $repo_url \
          --path charts/${{ values.app_name }} \
          --dest-namespace ${{ values.app_name }}-${{ values.app_env }} \
          --dest-server https://kubernetes.default.svc \
          --values values-${{ values.app_env }}.yaml \
          --revision main \
          --sync-policy manual \
          --sync-option CreateNamespace=true

      - name: ArgoCD sync app
        run: | 
          argocd app sync ${{ values.app_name }}
          argocd app wait ${{ values.app_name }} --timeout 600
